In [9]:
import pandas as pd

from pytictoc import TicToc

In [10]:
df = pd.read_csv("pandas_apply_vs_agg/data/IMDB-Movie-Data.csv")

In [11]:
with TicToc():
    metascore_mean_apply = df.groupby("Genre").apply(lambda x: x["Metascore"].mean())

Elapsed time is 0.020834 seconds.

In [12]:
with TicToc():
    metascore_mean_agg = df.groupby("Genre").agg({"Metascore": "mean"})

Elapsed time is 0.001822 seconds.

In [13]:
metascore_mean_apply

Genre
Action                        37.000000
Action,Adventure              57.333333
Action,Adventure,Biography    62.500000
Action,Adventure,Comedy       47.214286
Action,Adventure,Crime        48.333333
                                ...
Romance,Sci-Fi,Thriller             NaN
Sci-Fi                        53.000000
Sci-Fi,Thriller               34.000000
Thriller                      59.714286
Thriller,War                  40.000000
Length: 207, dtype: float64

In [14]:
metascore_mean_agg

                            Metascore
Genre
Action                      37.000000
Action,Adventure            57.333333
Action,Adventure,Biography  62.500000
Action,Adventure,Comedy     47.214286
Action,Adventure,Crime      48.333333
...                               ...
Romance,Sci-Fi,Thriller           NaN
Sci-Fi                      53.000000
Sci-Fi,Thriller             34.000000
Thriller                    59.714286
Thriller,War                40.000000

[207 rows x 1 columns]

In [16]:
df = pd.read_csv("/Users/dhaifbekha/Downloads/yellow_tripdata_2019-02.csv")

In [17]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.0,0.0,0.3,12.3,0.0
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.0,0.0,0.3,33.3,0.0
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,0.0
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019370,2,2019-02-28 23:29:08,2019-02-28 23:29:11,1,0.0,1,N,193,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7019371,2,2019-02-28 22:48:47,2019-02-28 23:50:19,1,0.0,1,N,141,193,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
7019372,2,2019-02-28 23:41:23,2019-02-28 23:42:23,1,0.0,1,N,264,264,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7019373,2,2019-02-28 23:12:52,2019-02-28 23:14:16,1,0.0,1,N,264,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7019374,2,2019-02-28 23:10:35,2019-02-28 23:10:37,1,0.0,1,N,264,264,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
with TicToc():
    tips_mean_apply = df.groupby("passenger_count").apply(
        lambda x: x["tip_amount"].mean()
    )

Elapsed time is 1.116714 seconds.

In [21]:
with TicToc():
    tips_mean_agg = df.groupby("passenger_count").agg({"tip_amount": "mean"})

Elapsed time is 0.112373 seconds.

In [27]:
df = df.assign(date=pd.to_datetime(df.tpep_pickup_datetime).dt.date)

In [28]:
with TicToc():
    tips_mean_apply = df.groupby("date").apply(lambda x: x["tip_amount"].mean())

Elapsed time is 1.993866 seconds.