# No more apply!

This notebook contains the code presented in the *No more apply! article on my website [here]().

Warning: Depending on when you are running this notebook, the code below maybe outdated due to a change in Pandas or Pytictoc version for example. If you experience such issue, please flag it to me and I will update the code.

## Imports

In [17]:
import pandas as pd
from pytictoc import TicToc
import numpy as np

## How to use `pandas.apply`

Below, we load the dataset *IMDB-Movie-Data.csv*, that you'll found in the data folder of the article repository on GitHub.

In [5]:
df = pd.read_csv("./data/IMDB-Movie-Data.csv")

In [6]:
# Quick look into the table:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

Let's `groupby` the movies by *Genre*, and compute the mean of the *Metascore*. Below, we use the method `pd.apply`:

In [7]:
with TicToc():
    metascore_mean_apply = df.groupby("Genre").apply(lambda x: x["Metascore"].mean())

Elapsed time is 0.026645 seconds.

## How to use `pandas.aggregate`

Below, we repeat the same process as above, but this time we use the methode `pd.aggregate`

In [13]:
with TicToc():
    metascore_mean_agg = df.groupby("Genre").agg({"Metascore": "mean"})

Elapsed time is 0.001736 seconds.

Note that we used the built-in *mean* aggregation method in Pandas, but we can also called a custom function as we did when using `pd.aaply`:

In [18]:
with TicToc():
    metascore_mean_agg = df.groupby("Genre").agg({"Metascore": np.mean}, axis=0)

Elapsed time is 0.002089 seconds.